$mainColor: green;
$secondaryColor: black;


// OVERALL STYLES

* {
  // border: dashed 2px grey;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  color: $mainColor;
  background-color: $secondaryColor;
  font-family: 'VT323', monospace;
}

input, pre {
  background: $secondaryColor;
  color: $mainColor;
  border: none;
}


//BUTTON STYLES

button.a, button.b, button.stat {
  display: inline-block;
}

button {
  background-color: $secondaryColor;
  border: 3px solid $mainColor;
  border-radius: 5px;
  text-align: center;
  display: block;
  color: $mainColor;
  font-size: 30px;
  padding: 10px 30px;
}

button:focus {
  outline:0;
}

button:hover {
  outline:0;
  color: $secondaryColor;
  background-color: $mainColor;
}

.container-fluid {
  padding-top: 1%;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 2em;
}

.col {
  font-size: 40px;
  overflow:auto;
  height: 825px;
  margin-bottom: 3%;
  line-height: 1.2em;
}

.col-md-auto {
  font-size: 40px;
  width: 300px;
  padding-right: 0;
}

.characterStatsDisplay {
  line-height: 1em;
  word-wrap: break-word;
}

.printText {
  overflow:auto;
}

.splash {
  text-align: center;
  height: 95vh;
}

.copyright {
  text-align: right;
  padding-right: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: $mainColor;
  border-radius: 10px;
}

.hidden-story, .startButton, .characterBar {
  display: none;
  margin: 0 auto;
}

#goblinQuest {
  font-size: 1.5em;
  line-height: .98em;
  padding:-1px;
  overflow: hidden;
}

#riseOfBorf {
  font-size: .5em;
  line-height: .98em;
  padding:-1px;
  overflow: hidden;
}

#borfPortrait {
  margin: 0;
}

#playNow {
  font-size: 20px;
  padding: 15px 32px;
  border: 2px solid $mainColor;
  margin: 0 auto;
}

#borfCastle {
  font-size: 10px;
  width: 1200px;
  overflow: hidden;
  margin-left: 27%;
}

#characterPortrait {
  font-size: .25em;
  margin-bottom: .5%;
}

#characterName {
  font-family: 'VT323', monospace;
}

#innImage, #placeHolder {
  font-size: .43em;
  margin-left: 40%;
  width: 800px;
}

#forest {
  font-size: .4em;
  margin-left: 35%;
  width:900px;
}

#throneRoom {
  font-size: .4em;
  width: 1700px;
  margin-left: 25%;
}

#createStats, #statResultDisplay {
  display: none;
}

@media screen and (max-width: 1000px) {

  pre {
    padding-right: 80px;
  }

  button {
    border: 2px solid $mainColor;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
  }

  .container-fluid {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .col {
    font-size: 25px;
    height: 420px;
    line-height: 30px;
  }

  .col-md-auto {
    font-size: 30px;
    width: 250px;
  }

  .characterStatsDisplay {
    line-height: .5em;
  }

  .copyright {
    padding-right: 20px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  #goblinQuest{
    font-size: .80em;
    line-height: .98em;
  }

  #borfPortrait {
    font-size: 7px;
  }

  #riseOfBorf {
    font-size: 7px;
  }

  #playNow {
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid $mainColor;
  }

  #borfCastle {
    font-size: 8px;
    margin-left: 9%;
    width: 1000px;
    overflow: hidden;
  }

  #characterPortrait {
    font-size: .25em;
    margin-bottom: .5%;
    line-height: 1.25em;
  }

  #characterName {
    font-size: 40px;
  }

  #innImage {
    font-size: 8px;
    margin-left: 43%;
  }

  #forest {
    font-size: 8px;
    margin-left: 34%;
  }

  #throneRoom {
    font-size: 8px;
    margin-left: 12%;
    width: 930px;
  }

}

@media screen and (min-width:1001px) and (max-width: 1541px) {

  pre {
    padding-right: 80px;
  }

  button {
    border: 2px solid $mainColor;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px 20px;
  }

  .container-fluid {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .col {
    font-size: 25px;
    height: 420px;
    line-height: 30px;
  }

  .col-md-auto {
    font-size: 35px;
    width: 250px;
  }

  .characterStatsDisplay {
    line-height: .6em;
  }

  .copyright {
    padding-right: 20px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  #goblinQuest{
    font-size: 1em;
    line-height: .98em;
  }

  #borfPortrait {
    font-size: 9px;
  }

  #riseOfBorf {
    font-size: 9px;
  }

  #playNow {
    font-size: 23px;
    padding: 10px 20px;
    border: 2px solid $mainColor;
  }

  #borfCastle {
    font-size: 10px;
    margin-left: 9%;
    width: 1000px;
    overflow: hidden;
  }

  #characterPortrait {
    font-size: .3em;
    margin-bottom: .5%;
    line-height: 1.25em;
    overflow: hidden;
  }

  #characterName {
    font-size: 50px;
  }

  #innImage {
    font-size: 10px;
    margin-left: 43%;
  }

  #forest {
    font-size: 10px;
    margin-left: 34%;
  }

  #throneRoom {
    font-size: 10px;
    margin-left: 12%;
    width: 930px;
  }

}
